<div class="card tabla">
  <p-table [value]="datos.content" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th (click)="doOrder('id')">ID</th>
        <th (click)="doOrder('title')">Title</th>
        <th (click)="doOrder('username')">Username</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-u>
      <tr [routerLink]="['/admin/thread/view', u.id]">
        <td>{{ u.id }}</td>
        <td>{{ u.title }}</td>
        <td>
          <a [routerLink]="['/admin/user/view', u.user.id]">
            {{ u.user.username }}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<h3 class="resultado">
  Showing {{ datos.numberOfElements }} of total
  {{ datos.totalElements }} registers
</h3>

<div class="card flex justify-content-center">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="datos.totalElements"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
</div>
